<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Sign in</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form #myForm="ngForm" (ngSubmit)="myForm.valid&&onSubmit()" novalidate>
             <div>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="example@gmail.com"
                    name="email"
                    [(ngModel)]="user.email"
                    #email="ngModel"
                    email
                    required
                  />
                  @if(email.invalid&&(email.dirty || email.touched || myForm.submitted)){
                  @if(email.hasError('required')){
                  <mat-error>Email is required</mat-error>
                  } @if(email.hasError('email')){
                  <mat-error>Enter a valid email</mat-error>
                  } }
                  <mat-hint>Enter your email address</mat-hint>
                </mat-form-field>
              </div>
        
              <div>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    name="password"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="clickPasswordHideEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  @if(password.invalid&&(password.dirty || password.touched || myForm.submitted)){
                  @if(password.hasError('required')){
                  <mat-error>Password is required</mat-error>
                  } }
                  <mat-hint>Enter password</mat-hint>
                </mat-form-field>
              </div>
              <button mat-flat-button type="submit">Login</button>
        </form>
        <p>Don't have an account <a routerLink="/signUp"  ariaCurrentWhenActive="page">Register</a></p>
    </mat-card-content>
</mat-card>
